.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  border: #dbdbdb;
  color: #fff;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
/* Ripple magic */
.btn{
  position: relative;
  overflow: hidden;
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.btn:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.btn-default {
    background: #fff;
}

.btn-primary {
  background: #4691f6;

}
.btn-success{
  background: #2ec866;
}
